nav ul li.active {
    background-color: #f9fbe7;
}

a , a:hover , a:visited, a:active {
    color: #e9800d;
}
@font-face {
    font-family: "GROBOLD";
    src: url('../fonts/GROBOLD.ttf');
}

@font-face {
    font-family: "SayanSans";
    src: url('../fonts/Saiyan-Sans.ttf');
}


body {
    font-family: GROBOLD, Georgia, serif;
    color: #03a9f4;
    background-color: #90a4ae;
}

h1 {
    line-height: 100%;
    font-family: SayanSans, Georgia, serif;
    color: #026aa0;
    margin: 2.0rem;
    padding: 0;
}

h5  {
    color: #0288cd;
}

a.brand-logo {
    font-family: SayanSans, Georgia, serif;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 60px;
    -webkit-text-stroke: 3px #000000;
    animation: LogoAnime 2s infinite;
}

.nav-wrapper {
    background-color: #8d8d8d;
}

.yellowtxt {
    color: yellow;
}

a>span.redtxt {
    color: red;
}

.card .card-action {
    border-top: 0;
    padding: 50px 0;
}

.card.horizontal {
    min-height: 175px;
}

.card-image>img {
    margin: 10px 0 ;
    max-height: 450px;
    min-height: 155px;
}


body>div.container {
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(3, 0, 76, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.parallax-container {
    margin-top: -100px;
}

#marvel_home {
    width:100%;
    height:100%;
    display:block;
}

input#search-query {
    background-color: #0D47A1;
}

input#search-query:checked {
    background-color: #a10004;
}

input.blue.lighten-3 {
    font-family: GROBOLD, Georgia, serif;
    font-size:25px;
    font-weight: bold
}
.padleft20 {
    padding-left: 20px;
}

.center {
    margin: -50px 0 -15px 0;
}

.bordered {
    padding: 12px 12px 0 12px;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(3, 0, 76, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}


input::placeholder {
    color: rgb(186, 186, 186);
}

@keyframes LogoAnime{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}