/* Typographie Begin */

@font-face {
    font-family: "GROBOLD";
    src: url('../fonts/GROBOLD.ttf');
}

@font-face {
    font-family: "SayanSans";
    src: url('../fonts/Saiyan-Sans.ttf');
}

h1 {
    line-height: 100%;
    font-family: SayanSans, Georgia, serif;
    color: #026aa0;
    margin: 2.0rem;
    padding: 0;
}

h5  {
    color: #0288cd;
}

/* End typographie */

/* Coloration Begin */

body {
    font-family: GROBOLD, Georgia, serif;
    color: #03a9f4;
    background-color: #2e3437;
}

.yellowtxt {
    color: yellow;
}

.redtxt {
    color: red;
}

input#search-query {
    background-color: #0D47A1;
}

input#search-query:checked {
    background-color: #a10004;
}

input::placeholder {
    color: rgb(186, 186, 186);
}

/* Coloration End */


/* Logo Begin */
nav .brand-logo {
    /*padding-left: 50px !important;*/
    font-size: 50px;
    -webkit-text-stroke: 3px #000000;
    animation: LogoAnime 2s infinite;
}

@keyframes LogoAnime{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
/* Logo End */

/* Cards : List of Books */
.card .card-action {
    border-top: 0;
    padding: 50px 0;
}

.card.horizontal {
    min-height: 175px;
}

.card-image>img {
    margin: 10px 0 ;
    max-height: 450px;
    min-height: 155px;
}

/* Cards End */


body>div.container {
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(3, 0, 76, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Image Home */
#marvel_home {
    width:100%;
    height:100%;
    display:block;
}


input.blue.lighten-3 {
    font-family: GROBOLD, Georgia, serif;
    font-size:25px;
    font-weight: bold
}
.padleft20 {
    padding-left: 20px;
}

.center {
    margin: -50px 0 -15px 0;
}

.bordered {
    padding: 12px 12px 0 12px;
    border-radius: 2px;
    box-shadow: 0 3px 3px 0 rgba(3, 0, 76, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}

/* Navbar search */
@media only screen and (max-width: 600px) {
    .searchbarfix{
        height: 56px !important;


    }
}
@media only screen and (min-width: 601px) {
    .searchbarfix{
        height: 64px !important;

    }
}
.navfix {
    position:relative;
    margin-right: 0;
}

.navfix2 {
    position:absolute;
}

#AlertDiv {
    margin-top: 50px;
}

.padhome {
    box-shadow: 3px 3px 5px 0 rgba(255, 255, 255, 0.87);
    box-sizing: inherit;
}